/* Numbered Headers */
body {
	counter-reset: h1counter;
}
h1 {
	counter-reset: h2counter;
}
h2 {
	counter-reset: h3counter;
}
h2:before {
	content: counter(h2counter) ".\0000a0\0000a0";
	counter-increment: h2counter;
}
h3:before {
	content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
	counter-increment: h3counter;
}

/* Regular CSS */
h2 {
	margin-top: 6px;
	padding-bottom: 2px;
	border-bottom: 1px solid #404040;
}

h3 {
	margin-top: 6px;
	padding-bottom: 2px;
	border-bottom: 1px dotted #404040;
}

p {
	margin-bottom: 4px;
}

.sphx-glr-thumbcontainer {
    min-height: 320px !important;
    margin: 20px !important;
}
.sphx-glr-thumbcontainer .figure {
    width: 250px !important;
}
.sphx-glr-thumbcontainer img {
    max-height: 250px !important;
    width: 250px !important;
}
.sphx-glr-thumbcontainer a.internal {
    padding: 270px 10px 0 !important;
}