*.egg-info/
*.ipynb_checkpoints
*.py[co]
*.npz
*.log
*.so
.coverage*
__pycache__
**/*.eps
**/*.png
**/*.c
**/*.avi
**/*.pickle
**/*.DS_Store
.cache/
build/
dist/
doc/_build/
doc/api/
doc/auto_examples/
doc/modules/