# Include metadata files
include AUTHORS LICENSE CONTRIBUTING* CODE_OF_CONDUCT* Makefile* MANIFEST.in setup* README.*

# Include Cython source files
recursive-include pulse2percept *.pyx *.pxd *.h
recursive-include pulse2percept *.c *.cpp *.so

# Include __init__.py at the root and submodules
include pulse2percept/__init__.py
recursive-include pulse2percept/stimuli/data *
recursive-include pulse2percept/datasets/data *
recursive-include pulse2percept/viz/data *
recursive-include pulse2percept/implants/data *
recursive-include pulse2percept/models/data *

# Include documentation files
recursive-include doc *

# Include examples
recursive-include examples *

# Explicitly include Numpy headers
# (This ensures the source distribution works across environments)
recursive-include numpy/core/include *.h

# Exclude unnecessary directories
exclude wheelhouse/*
prune wheelhouse
