jinja2<3.1
setuptools>=42.0,<50.0
sphinx==1.8.5
alabaster<0.7.14
sphinx_gallery>=0.7
sphinx_rtd_theme
ipython
sphinx_version_warning
joblib>=0.11
pandas
h5py
docutils<0.18
jax[cpu]<=0.4.3
neuropythy
pickleshare
torch