# doc/requirements.txt
numpy<2,>=1.26
Cython>=3.2.9
sphinx==8.2.3
sphinx_rtd_theme
sphinx_gallery==0.21.0
sphinx-version-warning==1.1.2
ipython>=9.16.0
matplotlib>=3.8
pandas>=3.0.5,<3.1
h5py
nibabel>=5.4.2
pooch>=1.8
neuropythy==0.12.16
pickleshare
