name: Wheels

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    branches:
      - master

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-10.15]

    steps:
      - uses: actions/checkout@v2

      - name: Build Py3.8/3.9 wheels
        uses: pypa/cibuildwheel@v2.1.3
        env:
          CIBW_BEFORE_ALL: "python3 -m pip install -U pip numpy && python3 -m pip install Pillow==8.3.2"
          CIBW_BEFORE_BUILD_LINUX: "yum -y install scipy"
          CIBW_BEFORE_BUILD: "python -m pip install -r requirements.txt && python -m pip install -e ."
          CIBW_BUILD: "cp38-* cp39-*"

      - name: Build Py3.7 wheels
        uses: pypa/cibuildwheel@v2.1.3
        env:
          CIBW_BEFORE_ALL: "python3 -m pip install pip==20.0.2 numpy"
          CIBW_BEFORE_BUILD: "python -m pip install Pillow==6.2.1 --no-cache-dir && python -m pip install -r requirements.txt && python -m pip install -e ."
          CIBW_BUILD: "cp37-*"

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl
