name: Wheels

on:
  push:
    branches:
      - master
      - torch
    tags:
      - v*
  pull_request:
    branches:
      - master
      - torch

jobs:
  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      # Step 1: Check out the repository
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      # Step 2: Install dependencies (Linux only)
      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libomp-dev zlib1g-dev libjpeg-turbo8-dev

      # Step 3: Build wheels using cibuildwheel
      - name: Build wheels
        uses: pypa/cibuildwheel@ee63bf16da6cddfb925f542f2c7b59ad50e93969 # v2.22.0
        env:
          # macOS-specific OpenMP settings
          CIBW_ENVIRONMENT_MACOS: |
            CFLAGS="-std=c99 -maltivec -I$(brew --prefix llvm)/include -I$(brew --prefix libomp)/include"
            LDFLAGS="-L$(brew --prefix llvm)/lib -L$(brew --prefix libomp)/lib -lomp"
            PATH="$(brew --prefix llvm)/bin:$PATH"
            CC="$(brew --prefix llvm)/bin/clang"
            CXX="$(brew --prefix llvm)/bin/clang++"
          # Linux-specific OpenMP settings
          CIBW_ENVIRONMENT_LINUX: "CFLAGS='-fopenmp'"
          # Windows-specific OpenMP settings
          CIBW_ENVIRONMENT_WINDOWS: "CFLAGS='/openmp'"
          # Pre-build steps
          CIBW_BEFORE_BUILD: "python -m pip install --upgrade pip setuptools wheel cython numpy"
          # Python versions to build for
          CIBW_BUILD: "cp310-* cp311-* cp312-* cp313-*"
          # Skip specific wheels
          CIBW_SKIP: "*-manylinux_i686 *-win32 *musllinux*"

      # Step 4: Upload the built wheels as artifacts
      - uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
